<section class="mainbar" data-ng-controller="entityChanges as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Modificari" data-allow-collapse="false" data-filter-function="vm.changesFilterFnc(filterText)"></div>
                        <div class="widget-content text-info" style="max-height: 700px;">
                            <div ng-hide="changes.length!=0">Nu sunt modificari</div>
                            <div class="gridStyle" ng-grid="changesGridOptions" ng-hide="changes.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


