﻿<div data-ng-controller="login as vm" class="centered" style="background-color: #333">
    <form class="form-login" role="form" style="position: relative;top: 35%;">
        <h2 class="form-login-heading">Login</h2>
        <input type="text" name="userName" style="margin-left: 4px" class="form-control" placeholder="Username" data-ng-model="vm.loginData.userName" >
        <input type="password" name="password" style="margin-left: 4px" class="form-control" placeholder="Password" data-ng-model="vm.loginData.password">
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="vm.login()">Login</button>
        <!--<div data-ng-hide="vm.message == ''" class="alert alert-danger">-->
            <!--{{vm.message}}-->
        <!--</div>-->
    </form>
</div>
