﻿<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title" style="font-weight: bold;margin-left: 0px">SGCCJ</span></a>

    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <span ng-show="vm.isAuth" data-ng-click="vm.logout()" class="logout">
                <div>
                    <a style="color: #fff;font-size: 14px;"><i class="fa fa-power-off"></i><span class="text">Iesire</span></a>
                </div>
            </span>
        </div>
    </div>

</nav>