﻿<div class="page-title pull-left">{{title}}</div>
<small class="page-title-subtle" data-ng-show="subtitle">({{subtitle}})</small>
<div class="widget-icons pull-right">

    <span data-ng-click="filterFnc()" data-ng-show="showFilterInput">
        <input data-ng-model="filterText" type="text" style="width: 160px !important; height: 24px; background-color: #E3F6FF;" class="form-control" placeholder="Filtrati..."/>
    </span>

    <a ng-click="exportFnc()" data-ng-show="showExportButton"><i class="fa fa-print"></i></a>
    <a ng-click="addFnc()" data-ng-show="showAddButton"><i class="fa fa-plus"></i></a>
    <a ng-click="editFnc()" data-ng-show="showEditButton"><i class="fa fa-edit"></i></a>
    <a ng-click="deleteFnc()" data-ng-show="showDeleteButton"><i class="fa fa-trash-o"></i></a>
    <a data-cc-widget-minimize data-ng-if="allowCollapse"></a>
</div>
<small class="pull-right page-title-subtle" data-ng-show="rightText">{{rightText}}</small>
<div class="clearfix"></div>