<section class="mainbar" data-ng-controller="applicationDetail as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" style="margin: 0">
                        <a class="btn btn-info btn-form-md" data-ng-click="vm.goBack()"><i class="fa fa-angle-left"></i><span
                                class="text">Inapoi</span></a>

                    </div>
                    <div class="btn-group pull-right" style="margin: 0">
                        <a class="btn btn-success btn-form-md" data-ng-disabled="vm.detailMode == 'VIEW'" data-ng-click="vm.saveApplication()"><i
                                class="fa fa-save"></i><span class="text">Salvare</span></a>
                        <a class="btn btn-danger btn-form-md" data-ng-disabled="vm.detailMode != 'VIEW'" ><i
                                class="fa fa-trash-o"></i><span class="text">Stergere</span></a>
                    </div>
                </div>
            </div>

            <br/>

            <div class="row" style="margin: 0">
                <div class="col-md-2">
                    &nbsp;
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <fieldset data-ng-disabled="vm.detailMode == 'VIEW'">
                            <div style="font-size: 24px; border-bottom: 1px solid #ccc; margin-bottom: 20px">
                                {{vm.displayMessage}}
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Numar">Numar infocet</label>

                                <div class="col-md-8">
                                    <input id="Numar" data-ng-disabled="vm.detailMode=='EDIT'" data-ng-model="vm.application.infocetNumber" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="CNP">CNP</label>

                                <div class="col-md-8">
                                    <input id="CNP" data-ng-disabled="vm.detailMode=='EDIT'" data-ng-model="vm.application.citizenSSN" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Adresa">Adresa</label>

                                <div class="col-md-8">
                                    <input id="Adresa" data-ng-disabled="vm.detailMode=='EDIT'" data-ng-model="vm.application.citizenAddress" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Data">Data</label>

                                <div class="col-md-8">
                                    <input id="Data"  data-ng-disabled="true" data-ng-model="vm.application.date" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Mormant">Numar mormant</label>

                                <div class="col-md-8">
                                    <input id="Mormant" data-ng-disabled="vm.detailMode=='EDIT'" data-ng-model="vm.application.graveNumber" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group" data-ng-hide="vm.detailMode!='EDIT'">
                                <label class="col-md-4 control-label" for="Stage">Stadiu</label>

                                <div class="col-md-8">
                                    <!--<input id="Stage" data-ng-disabled="true" data-ng-model="vm.application.stage" type="text"-->
                                           <!--class="form-control input-md"/>-->
                                    <select id="Stage" ng-model="vm.selectedStage" class="form-control input-md"
                                            ng-options="opt as opt.label for opt in vm.stages">
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-2">
                    &nbsp;
                </div>
            </div>
        </div>
    </section>
</section>