<section class="mainbar" data-ng-controller="inhumationDetail as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" style="margin: 0">
                        <a class="btn btn-info btn-form-md" data-ng-click="vm.goBack()"><i class="fa fa-angle-left"></i><span
                                class="text">Inapoi</span></a>

                    </div>
                    <div class="btn-group pull-right" style="margin: 0">
                        <a class="btn btn-success btn-form-md" data-ng-disabled="vm.detailMode == 'VIEW'" data-ng-click="vm.saveBurial()"><i
                                class="fa fa-save"></i><span class="text">Salvare</span></a>
                        <a class="btn btn-danger btn-form-md" data-ng-disabled="vm.detailMode != 'VIEW'" ><i
                                class="fa fa-trash-o"></i><span class="text">Stergere</span></a>
                    </div>
                </div>
            </div>

            <br/>

            <div class="row" style="margin: 0">
                <div class="col-md-2">
                    &nbsp;
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <fieldset data-ng-disabled="vm.detailMode == 'VIEW'">
                            <div style="font-size: 24px; border-bottom: 1px solid #ccc; margin-bottom: 20px">
                                {{vm.displayMessage}}
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="permit">Numar adeverinta</label>

                                <div class="col-md-8">
                                    <input id="permit" data-ng-model="vm.inhumation.nrOfPermit" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="receipt">Numar chitanta</label>

                                <div class="col-md-8">
                                    <input id="receipt" data-ng-model="vm.inhumation.nrOfReceipt" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="cnp">CNP</label>

                                <div class="col-md-8">
                                    <input id="cnp" data-ng-model="vm.inhumation.deceased.ssn" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="nume">Nume</label>

                                <div class="col-md-8">
                                    <input id="nume" data-ng-model="vm.inhumation.deceased.lastName" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Prenume">Prenume</label>

                                <div class="col-md-8">
                                    <input id="Prenume" data-ng-model="vm.inhumation.deceased.firstName" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="rel">Religie</label>

                                <div class="col-md-8">
                                    <input id="rel" data-ng-model="vm.inhumation.deceased.religion" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="abandonat">Abandonat</label>

                                <div class="col-md-8">
                                    <input id="abandonat" data-ng-model="vm.inhumation.deceased.isAbandoned" type="checkbox"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Cimitir">Cimitir</label>

                                <div class="col-md-8">
                                    <select id="Cimitir" ng-model="vm.selectedCemetery" class="form-control input-md"
                                            ng-options="opt as opt.label for opt in vm.cemeteries">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Numar">Numar parcela</label>

                                <div class="col-md-8">
                                    <input id="Numar" data-ng-model="vm.inhumation.plotNumber" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Loc">Numar loc de veci</label>

                                <div class="col-md-8">
                                    <input id="Loc" data-ng-model="vm.inhumation.graveNumber" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-2">
                    &nbsp;
                </div>
            </div>
            </div>
    </section>
</section>