<section class="mainbar" data-ng-controller="applications as vm">
    <section class="matter">
        <div class="container">

            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<ul class="today-datas">-->
                        <!--<li class="blightblue">-->
                            <!--<div class="pull-left"><i class="fa fa-file-text-o"></i></div>-->
                            <!--<div class="datas-text pull-right">-->
                                <!--<span class="bold">{{vm.activeApplications}}</span> Cereri active-->
                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Cereri"
                             data-allow-collapse="false" data-add-function="vm.applicationsAddFnc()" data-edit-function="vm.applicationsEditFnc()" data-filter-function="vm.applicationsFilterFnc(filterText)"></div>
                        <div class="widget-content text-info" style="max-height: 700px;">
                            <div ng-hide="applications.length!=0">Nu sunt cereri</div>
                            <div class="gridStyle" ng-grid="applicationsGridOptions" ng-hide="applications.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


