<section class="mainbar" data-ng-controller="purchaseDetail as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" style="margin: 0">
                        <a class="btn btn-info btn-form-md" data-ng-click="vm.goBack()"><i class="fa fa-angle-left"></i><span
                                class="text">Inapoi</span></a>

                    </div>
                    <div class="btn-group pull-right" style="margin: 0">
                        <a class="btn btn-success btn-form-md" data-ng-disabled="vm.detailMode == 'VIEW'" data-ng-click="vm.savePurchase()"><i
                                class="fa fa-save"></i><span class="text">Salvare</span></a>
                        <a class="btn btn-danger btn-form-md" data-ng-disabled="vm.detailMode != 'VIEW'"><i
                                class="fa fa-trash-o"></i><span class="text">Stergere</span></a>
                    </div>
                </div>
            </div>

            <br/>

            <div class="row" style="margin: 0">
                <div class="col-md-2">
                    &nbsp;
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <fieldset data-ng-disabled="vm.detailMode == 'VIEW'">
                            <div style="font-size: 24px; border-bottom: 1px solid #ccc; margin-bottom: 20px">
                                {{vm.displayMessage}}
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="numar">Numar Contract</label>

                                <div class="col-md-8">
                                    <input id="numar" data-ng-model="vm.purchase.contractNumber" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="cnp">CNP</label>

                                <div class="col-md-8">
                                    <input id="cnp" data-ng-model="vm.purchase.ssnOwner" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="nume">Nume</label>

                                <div class="col-md-8">
                                    <input id="nume" data-ng-model="vm.purchase.lastNameOwner" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="prenume">Prenume</label>

                                <div class="col-md-8">
                                    <input id="prenume" data-ng-model="vm.purchase.firstNameOwner" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="adresa">Adresa</label>

                                <div class="col-md-8">
                                    <input id="adresa" data-ng-model="vm.purchase.addressOwner" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Cimitir">Cimitir</label>

                                <div class="col-md-8">
                                    <select id="Cimitir" ng-model="vm.selectedCemetery" class="form-control input-md"
                                            ng-options="opt as opt.label for opt in vm.cemeteries">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="parcela">Numar parcela</label>

                                <div class="col-md-8">
                                    <input id="parcela" data-ng-model="vm.purchase.plotNumber" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="mormant">Numar loc de veci</label>

                                <div class="col-md-8">
                                    <input id="mormant" data-ng-model="vm.purchase.graveNumber" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="chitanta">Chitanta</label>

                                <div class="col-md-8">
                                    <input id="chitanta" data-ng-model="vm.purchase.noReceipt" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>


                        </fieldset>
                    </form>
                </div>
                <div class="col-md-2">
                    &nbsp;
                </div>
            </div>
        </div>
    </section>
</section>