<section class="mainbar" data-ng-controller="purchases as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Concesionari"
                             data-allow-collapse="false" data-add-function="vm.purchasesAddFnc()"  data-filter-function="vm.purchasesFilterFnc(filterText)"></div>
                        <div class="widget-content text-info" style="max-height: 700px;">
                            <div ng-hide="purchases.length!=0">Nu sunt concesionari</div>
                            <div class="gridStyle" ng-grid="purchasesGridOptions" ng-hide="purchases.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


