<section class="mainbar" data-ng-controller="intimationDetail as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" style="margin: 0">
                        <a class="btn btn-info btn-form-md" data-ng-click="vm.goBack()"><i class="fa fa-angle-left"></i><span
                                class="text">Inapoi</span></a>

                    </div>
                    <div class="btn-group pull-right" style="margin: 0">
                        <a class="btn btn-success btn-form-md" data-ng-disabled="vm.detailMode == 'VIEW'" data-ng-click="vm.saveIntimation()"><i
                                class="fa fa-save"></i><span class="text">Salvare</span></a>
                        <a class="btn btn-danger btn-form-md" data-ng-disabled="vm.detailMode != 'VIEW'"><i
                                class="fa fa-trash-o"></i><span class="text">Stergere</span></a>
                    </div>
                </div>
            </div>

            <br/>

            <div class="row" style="margin: 0">
                <div class="col-md-2">
                    &nbsp;
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <fieldset data-ng-disabled="vm.detailMode == 'VIEW'">
                            <div style="font-size: 24px; border-bottom: 1px solid #ccc; margin-bottom: 20px">
                                {{vm.displayMessage}}
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Descriere">Descriere</label>

                                <div class="col-md-8">
                                    <input id="Descriere" data-ng-model="vm.intimation.description" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-2">
                    &nbsp;
                </div>
            </div>
    </section>
</section>