<section class="mainbar" data-ng-controller="graveDetail as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" style="margin: 0">
                        <a class="btn btn-info btn-form-md" data-ng-click="vm.goBack()"><i class="fa fa-angle-left"></i><span
                                class="text">Inapoi</span></a>

                    </div>
                    <div class="btn-group pull-right" style="margin: 0">
                        <a class="btn btn-success btn-form-md" data-ng-disabled="vm.detailMode == 'VIEW'" data-ng-click="vm.saveGrave()"><i
                                class="fa fa-save"></i><span class="text">Salvare</span></a>
                        <a class="btn btn-danger btn-form-md" data-ng-disabled="vm.detailMode != 'VIEW'" data-ng-click="vm.deleteGrave()"><i
                                class="fa fa-trash-o"></i><span class="text">Stergere</span></a>
                    </div>
                </div>
            </div>

            <br/>

            <div class="row" style="margin: 0">
                <div class="col-md-2">
                    &nbsp;
                </div>
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <fieldset data-ng-disabled="vm.detailMode == 'VIEW'">
                            <div style="font-size: 24px; border-bottom: 1px solid #ccc; margin-bottom: 20px">
                                {{vm.displayMessage}}
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Cimitir">Cimitir</label>

                                <div class="col-md-8">
                                    <select data-ng-hide="vm.detailMode != 'ADD'" id="Cimitir" ng-model="vm.selectedCemetery" class="form-control input-md"
                                            ng-options="opt as opt.label for opt in vm.cemeteries">
                                    </select>
                                    <input data-ng-hide="vm.detailMode == 'ADD'" data-ng-disabled="vm.detailMode == 'EDIT'" data-ng-model="vm.grave.cemeteryName" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="parcela">Numar parcela</label>

                                <div class="col-md-8">
                                    <input id="parcela" data-ng-disabled="vm.detailMode != 'ADD'" data-ng-model="vm.grave.plotNumber" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="mormant">Numar</label>

                                <div class="col-md-8">
                                    <input id="mormant" data-ng-model="vm.grave.number" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Suprafata">Suprafata</label>

                                <div class="col-md-8">
                                    <input id="Suprafata" data-ng-model="vm.grave.surface" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Monument">Este monument</label>

                                <div class="col-md-8">
                                    <input id="Monument" data-ng-model="vm.grave.isMonument" type="checkbox"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Detalii">Informatii</label>

                                <div class="col-md-8">
                                    <input id="Detalii" data-ng-model="vm.grave.additionalInfo" type="text"
                                           class="form-control input-md"/>
                                </div>
                            </div>

                            <div class="form-group" data-ng-hide="vm.detailMode == 'VIEW' && (vm.grave.photo == undefined || vm.grave.photo == '')">
                                <label class="col-md-4 control-label" for="Detalii">Imagine</label>

                                <div class="col-md-8" ng-hide="vm.grave.photo == undefined || vm.grave.photo == ''">
                                    <img  ng-src="{{vm.grave.photo}}" class="form-control input-md " style="height: auto;">
                                </div>

                                <div class="col-md-8" ng-show="vm.grave.photo == undefined || vm.grave.photo == ''">
                                    <input type="file" ng-file-select="uploadImage($files)" multiple="" onclick="this.value=null" accept="image/*">
                                </div>
                            </div>


                        </fieldset>
                    </form>
                </div>
                <div class="col-md-2">
                    &nbsp;
                </div>
            </div>
            </div>
    </section>
</section>