<section class="mainbar" data-ng-controller="inhumations as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Decedati" data-allow-collapse="false"
                             data-edit-function="vm.deceasedEditFnc()" data-filter-function="vm.deceasedFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="deceased.length!=0">Nu sunt decedati</div>
                            <div class="gridStyle" ng-grid="deceasedGridOptions" ng-hide="deceased.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Inmormantari" data-allow-collapse="false"
                             data-add-function="vm.burialsAddFnc()" data-filter-function="vm.burialsFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="burials.length!=0">Nu sunt inmormantari</div>
                            <div class="gridStyle" ng-grid="burialsGridOptions" ng-hide="burials.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


