﻿<section class="mainbar" data-ng-controller="registries as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="REGISTRUL ANUAL DE PROGRAMARE A INMORMANTARILOR" data-allow-collapse="true" data-export-function="vm.inhumationRegistryExportFnc()" data-filter-function="vm.inhumationRegistryFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="inhumationRegistryEntries.length!=0">Nu sunt date</div>
                            <div class="gridStyle" ng-grid="inhumationRegistryGridOptions" ng-hide="inhumationRegistryEntries.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="REGISTRUL DE MORMINTE" data-allow-collapse="true" data-export-function="vm.graveRegistryExportFnc()" data-filter-function="vm.graveRegistryFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="graveRegistryEntries.length!=0">Nu sunt date</div>
                            <div class="gridStyle" ng-grid="graveRegistryGridOptions" ng-hide="graveRegistryEntries.length==0"></div>
                         </div>
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="REGISTRUL DE MORMINTE - MONUMENT" data-allow-collapse="true" data-export-function="vm.graveMonumentsRegistryExportFnc()" data-filter-function="vm.graveMonumentsRegistryFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="graveMonumentsRegistryEntries.length!=0">Nu sunt date</div>
                            <div class="gridStyle" ng-grid="graveMonumentsRegistryGridOptions" ng-hide="graveMonumentsRegistryEntries.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="REGISTRUL ANUAL DE EVIDENŢĂ A DECEDAŢILOR" data-allow-collapse="true" data-export-function="vm.deceasedRegistryExportFnc()" data-filter-function="vm.deceasedRegistryFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="deceasedRegistryEntries.length!=0">Nu sunt date</div>
                            <div class="gridStyle" ng-grid="deceasedRegistryGridOptions" ng-hide="deceasedRegistryEntries.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="REGISTRUL ANUAL DE EVIDENŢĂ A DECEDAŢILOR FĂRĂ APARŢINĂTORI" data-allow-collapse="true" data-export-function="vm.abandonedDeceasedRegistryExportFnc()" data-filter-function="vm.abandonedDeceasedRegistryFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="abandonedDeceasedRegistryEntries.length!=0">Nu sunt date</div>
                            <div class="gridStyle" ng-grid="abandonedDeceasedRegistryGridOptions" ng-hide="abandonedDeceasedRegistryEntries.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="REGISTRUL CU EVIDENŢA CERERILOR DE ATRIBUIRE A LOCURILOR DE ÎNHUMARE" data-allow-collapse="true" data-export-function="vm.inhumationRequestRegistryExportFnc()" data-filter-function="vm.inhumationRequestRegistryFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="inhumationRequestRegistryEntries.length!=0">Nu sunt date</div>
                            <div class="gridStyle" ng-grid="inhumationRequestRegistryGridOptions" ng-hide="inhumationRequestRegistryEntries.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="REGISTRUL ANUAL DE EVIDENŢĂ A CONTRACTELOR DE CONCESIUNE" data-allow-collapse="true" data-export-function="vm.purchaseContractRegistryExportFnc()" data-filter-function="vm.purchaseContractRegistryFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="purchaseContractRegistryEntries.length!=0">Nu sunt date</div>
                            <div class="gridStyle" ng-grid="purchaseContractRegistryGridOptions" ng-hide="purchaseContractRegistryEntries.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="widget wlightblue">-->
                        <!--<div data-cc-widget-header title="REGISTRUL ANUAL CU EVIDENTA SESIZĂRILOR SI RECLAMATIILE CETATENILOR " data-allow-collapse="true" data-export-function="vm.intimationRegistryExportFnc()" data-filter-function="vm.intimationRegistryFilterFnc(filterText)"></div>-->
                        <!--<div class="widget-content text-info">-->
                            <!--<div ng-hide="intimationRegistryEntries.length!=0">Nu sunt date</div>-->
                            <!--<div class="gridStyle" ng-grid="intimationRegistryGridOptions" ng-hide="intimationRegistryEntries.length==0"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </section>
</section>


