﻿<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="today-datas">
                        <li class="blightblue">
                            <div class="pull-left"><i class="fa fa-file-text-o"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">12</span> Cereri active
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="borange">
                            <div class="pull-left"><i class="fa fa-file-text-o"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">3</span> Cimitire
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="map"></div>
                </div>
            </div>
    </section>
</section>