<section class="mainbar" data-ng-controller="cemeteryInfo as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" style="margin: 0">
                        <a class="btn btn-info btn-form-md" data-ng-click="vm.goBack()"><i class="fa fa-angle-left"></i><span class="text">Back</span></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Sesizari"
                             allow-collapse="false" data-add-function="vm.intimationsAddFnc()" data-filter-function="vm.intimationsFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="intimations.length!=0">Nu exista sesizari</div>
                            <div class="gridStyle" ng-grid="intimationsGridOptions" ng-hide="intimations.length==0"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Parcele"
                             allow-collapse="false" data-add-function="vm.plotsAddFnc()" data-filter-function="vm.plotsFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="plots.length!=0">Nu exista parcele</div>
                            <div class="gridStyle" ng-grid="plotsGridOptions" ng-hide="plots.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Locuri de veci"
                             allow-collapse="false" data-add-function="vm.gravesAddFnc()" data-edit-function="vm.gravesEditFnc()"  data-filter-function="vm.gravesFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="graves.length!=0">Nu exista locuri de veci</div>
                            <div class="gridStyle" ng-grid="gravesGridOptions" ng-hide="graves.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


