﻿<section class="mainbar" data-ng-controller="management as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Cetateni"
                             allow-collapse="false" data-filter-function="vm.citizensFilterFnc(filterText)" data-add-function="vm.citizensAddFnc()" data-edit-function="vm.citizensEditFnc()"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="citizens.length!=0">Nu exista cetateni</div>
                            <div class="gridStyle" ng-grid="citizensGridOptions" ng-hide="citizens.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Cimitire"
                             allow-collapse="false"  data-filter-function="vm.cemeteriesFilterFnc(filterText)" data-add-function="vm.cemeteriesAddFnc()" data-edit-function="vm.cemeteriesEditFnc()"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="cemeteries.length!=0">Nu exista cimitire</div>
                            <div class="gridStyle" ng-grid="cemeteriesGridOptions" ng-hide="cemeteries.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget wlightblue">
                        <div data-cc-widget-header title="Locuri de veci"
                             allow-collapse="false" data-add-function="vm.gravesAddFnc()" data-edit-function="vm.gravesEditFnc()" data-delete-function="vm.gravesDeleteFnc()" data-filter-function="vm.gravesFilterFnc(filterText)"></div>
                        <div class="widget-content text-info">
                            <div ng-hide="graves.length!=0">Nu exista locuri de veci</div>
                            <div class="gridStyle" ng-grid="gravesGridOptions" ng-hide="graves.length==0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


